@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-image: url("/bg-a.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none; /* Nascondi scrollbar su WebKit */
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* Nascondi scrollbar su IE e Edge */
        scrollbar-width: none; /* Nascondi scrollbar su Firefox */
    }
}
